.footer_container{
    margin-top: 500px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(65, 67, 68);
    color: white;
    padding: 100px;
}
.footerdiv{
    display: flex;
    justify-content: space-around;
    height: auto;
    width:1500px;
}
.logo_div, .nav_div, .contact_div{
    display: flex;
    flex: 1;

}
.logo_div , .nav_div, .contact_div{
    flex-direction: column;
}
.footer_nav{
    display: flex;
}
.footer_nav > span{
    border-right: 1px solid black;
    height: 40px;
    padding-right:10px;
    padding-left: 10px;
    font-size: larger;
    align-content: center;
}